a {
    color: #3060b0;
}

body {
}

.hammock-a-name {
    position: relative;
    display: inline-block;
    top: -40px;
    height: 1px;
    overflow: hidden;
    border: 1px solid #a0a0a0;
}

.hammock-chapter-contents {
    font-size: 17px;
    letter-spacing: 0px;
    margin-top: 16px;
}

.hammock-chapter-outer {
    max-width: 960px;
    min-width: 500px;
    border-bottom: 2px solid #c0c0c0;
    padding-bottom: 48px;
    padding-left:16px;
}

.hammock-chapter-title {
    margin-top: 32px;
    font-size: 35px;
}

.hammock-code{
    font-family: monospace;
    background-color: #f8f8f0 !important;
    box-shadow: 1px 1px 3px #808080;
    border: 1px solid #c0c0c0;
    color: black;
    padding: 12px;
    padding-right: 16px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align:left;
    white-space: pre;
    overflow: auto;
    font-size: 14px;
    letter-spacing: 0px;
}

.hammock-multicode-outer {
}

.hammock-multicode-outer .hammock-code{
    margin-top: 10px;
}

.hammock-multicode-selected {
    padding-bottom: 0px;
    border-bottom: 2px solid #ff8000;
}

.hammock-multicode-bar {
    background: #404040;
    border-radius:3px;
    color: #ffffff;
    font-weight: 400;
    position: relative;
    top: 12px;
}

.hammock-multicode-tab {
    font-size: 15px;
    margin-right: 40px;
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
    padding: 2px;
    padding-bottom: 0px;
}

.hammock-multicode-tab:hover {
    font-size: 15px;
    margin-right: 40px;
    margin-left: 10px;
    display: inline-block;
    color: #80b0d0;
}

.hammock-output{
    font-family: monospace;
    background-color: #f0f0f0 !important;
    box-shadow: 1px 1px 3px #808080;
    color: black;
    padding: 12px;
    padding-right: 16px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align:left;
    white-space: pre;
    overflow: auto;
    font-size: 14px;
    letter-spacing: 0px;
    max-height: 100px;
}

.hammock-code a:hover {
    color: #000000;
    text-decoration: underline;
}

.hammock-doc-header {
    text-align: center;
}

.hammock-doc-outer {
    margin-left: 300px;
}

.hammock-icode{
    font-family: monospace;
    display: inline-block;
    color: #102040;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0px;
}

.hammock-interpret-error{
    color: #800000;
    font-size: 16px;
    font-weight: bold;
    background: #ffff00;
}

.hammock-section-contents {
    margin-top: 16px;
}

.hammock-section-outer {
}

.hammock-section-title {
    font-size: 28px;
    font-weight: 400;
    color: #3060a0;
    margin-top: 32px;
    border-top:1px solid #d0d0d0;
}

.hammock-chapter-contents .hammock-section-title{
    border-top:none;
}

.hammock-subsection-outer {
}

.hammock-subsection-contents {
    margin-top: 16px;
}

.hammock-subsection-title {
    font-size: 19px;
    font-weight: 400;
    color: #c06030;
    margin-top: 16px;
}

.hammock-subsubsection-contents {
}

.hammock-subsubsection-outer {
}

.hammock-subsubsection-title {
    color: #505050;
    font-size: 16px;
    font-weight: bold;
}

table.hammock-tbl {
    border-top: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    width: 100%;
    line-height: 1.3333;
    font-size: 15px;
    font-family: monospace; 
    margin-top: 1em;
    margin-bottom: 1em;
}

.hammock-tbl tr:nth-child(even) {
    background: #f0f0f0;
}
.hammock-tbl tr:nth-child(odd) {
    background: #f8f8f8;
}
.hammock-tbl td {
    border-bottom: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    padding: 12px;
    vertical-align: top;
    text-align:left;
}


td.hammock-tbl-header{
    background: #d0d0f0;
    font-weight: bold;
}

.hammock-toc-chapter {
    margin-top: 16px;
    font-size:18px;
    border-radius: 3px;
}

.hammock-toc-chapter a, .hammock-toc-section a {
    color: #3060b0;
    text-decoration: none;
}

.hammock-toc-outer {
    position: fixed;
    width: 240px;
    overflow: auto;
    top: 94px;
    left: 8px;
    font-size: 14px;
    padding: 16px;
    padding-top: 12px;
    font-weight: 400;
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    border-radius: 3px;
}

.hammock-toc-section {
    padding-left :2em;
    border-radius: 3px;
}

.hammock-toc-subsection {
}

.hammock-toc-title {
    font-size: 28px;
    color: #404040;
}

