body {
    margin: 0px;
    padding: 0px;
    font-family: "Source Sans Pro", Helvetica,arial,freesans,clean,sans-serif;
    line-height: 1.33;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
}

.center_channel {
    width: 976px;
    margin-left: auto;
    margin-right: auto;
    padding-left:16px;
    padding-right:16px;
}

.footer-outer {
    background: #c0c0c0;
    min-width: 1004px;
}

.main_banner-outer {
    width: 100%;
    background: #1c1c1c;
    color: #ffffff;
    overflow:hidden;
}

.main_banner-inner {
    background: #1c1c1c url(images/shutterstock_100858951_cloud_computing_mod_h500.jpg) right top no-repeat;
}

.main_banner-text {
    font-weight: 800;
    font-size: 43px;
    padding-top: 56px;
    padding-left: 42px;
}
.main_banner-small-text {
    font-weight: 400;
    padding-top: 32px;
    padding-left: 42px;
    width: 325px;
    font-size: 20px;
}

.features-outer h1 {
    font-weight: 400;
    font-size: 34px;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 32px;
}

.features-code {
    width: 240px;
    background: #f0f0f0;
    padding: 8px;
    border-radius: 4px;
    font-size: 13px;
    font-family: monospace;
    white-space: pre;
}

.topbar-outer {
    border-bottom: 1px solid #d0d0d0;
    padding-top: 18px;
    padding-bottom: 18px;
}



.code {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    background: #f0f0f0;
    padding: 13pt;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    color: #153060;
}

#codesample-inner {
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    background: #f0f0f0;
    padding: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    font-size: 15pt;
    color: #153060;
    border: 2px dashed #a0a0a0;
}
#codesample-outer {
    position: absolute;
    display: inline-block;
    top: 50px;
    right: 0px;
    width: 350px;
}
#codesample-outer a {
    display: inline-block;
    text-decoration:none;
    background:#3060a0;
    color:#ffffff;
    padding:8px;
    border-radius:8px;
}

.code_template {
    display: inline-block;
    border: 1px dashed #008000;
    background: #ffff80;
    margin-bottom: 3px;
    padding: 2px;
}

.icode {
    display: inline-block;
    font-family: monospace;
    font-size: 14px;
    background: #f0f0f0;
    color: #153060;
    padding: 4px;
}
#toaster_pic {
    position: absolute;
    left: 0px;
    top: 250px;
    width: 600px;
}
#adivider {
    position: absolute;
    left: 50%;
    top: 200px;
    width: 10px;
    height: 500px;
    border-left:2px dashed #a0a0a0;
}

td {
    font-size: 20px;
    font-weight: 300;
}
.main-section td
{
    line-height: 1.33;
}
.top-bar td {
    font-weight: 400;
    font-size: 22px;
}

.logo {
    font-family: "ABeeZee";
    font-size: 50pt;
    color: #3060a0;
    border-radius: 32px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left:-6px;
}
.top-bar {
    border-bottom: 1px solid #304050;
    position: fixed;
    width: 100%;
    height: 56px;
    z-index: 100;
    background-color: #ffffff;
}
.main-section {
    width: 100%;
    top: 56px;
}
.normala a {
    text-decoration: none !important;
    color: #000000 !important;
}

.bubble1, .bubble2, .bubble3, .bubble4 {
    display: inline-block;
    font-size: 18px;
    width:220px;
    vertical-align: top;
    padding: 4px;
    height: 450px;
}
.bubble4 {
    border-right:none;
}
.hex {
    display: inline-block;
    text-align: center;
    width: 120px;
    padding:12px;
    cursor: pointer;
}
.hex:hover {
    background: #d0e0ff;
    border-radius: 100px;
    font-weight: 400;
}
#hex1 {
    position: absolute;
    left: 190px;
    top: 0px;
}

#hex2 {
    position: absolute;
    left: 338px;
    top: 71px;
}

#hex3 {
    position: absolute;
    left: 375px;
    top: 232px;
}

#hex4 {
    position: absolute;
    left: 272px;
    top: 361px;
}

#hex5 {
    position: absolute;
    left: 107px;
    top: 361px;
}

#hex6 {
    position: absolute;
    left: 4px;
    top: 232px;
}

#hex7 {
    position: absolute;
    left: 41px;
    top: 71px;
}

#hexcenter {
    position: absolute;
    left:165px;
    top:190px;
    font-family: "ABeeZee";
    font-size: 55px;
    color: #3060a0;
}
.hexdetailsbg {
    background: #d0e0ff;
}
#hexdetails {
    position: absolute;
    left:565px;
    top:80px;
    width: 300px;
    height: 320px;
    border-radius: 8px;
    padding:20px;
}
.darkest {
    color: #000000;
}
.big {
    font-size: 34px;
}
.xl {
    font-size: 40px;
}
.xxl {
    font-size: 50px;
}
.ml {
    font-size: 26px;
}
.ms {
    font-size: 17px;
}
.s {
    font-size: 15px;
}
.thin {
    font-weight: 200;
}
h2 {
    font-weight: 200;
    font-size: 34px;
    margin-bottom: 0px;
}
.logo-in-text {
    font-family: "ABeeZee";
    color: #3060a0;
}
.logo-topbar {
    font-family: "ABeeZee";
    color: #3060a0;
    font-size:33px;
}
.logo-in-text-light {
    font-family: "ABeeZee";
    color: #a0b0f8;
}
.blue-section
{
    background: #204080;
    color: #ffffff;
}
.gray-section
{
    background: #c0d0f0;
}
.gray-section a
{
    color: #a0b0f8;
}

.actual-gray-section
{
    background: #f0f0f0;
}

.shutterstock-network
{
    background-image:url('http://image.shutterstock.com/display_pic_with_logo/1206974/130694135/stock-vector-molecule-and-communication-background-vector-illustration-graphic-design-useful-for-your-design-130694135.jpg');
    background-repeat: no-repeat;
    background-position: 106px -96px;;
    background-size: 350px 350px;
}
.tbl-box
{
    padding: 16px;
    width: 270px;
    border-right: 2px solid #d0d0c0;
}
.hvy
{
    font-weight: 600;
}
.justify
{
    text-align: justify;
}
a, a.visited
{
    color: #3060a0;
    font-weight: 400;
}
a:hover
{
    color: #50a0ff
}
.top-bar a
{
    text-decoration: none;
}
.top-bar td
{
    font-size:18px;
}
a.logo:hover
{
    color: #3060a0;
}
.warning_bar
{
    background: #ffff60;
    padding: 16px;
    border-radius: 5px;
    color: #000000;
}


#joinbutton_outer a
{
    display: inline-block;
    position: relative;
    top: -30px;
    background: #ffffff;
    padding:8px;
    border-radius:8px;
    text-decoration: none;
    margin-left: 165px;
    color: #204080;
    font-weight: 400;
}

.button_link {
    background: #3060b0;
    display: inline-block;
    padding: 8px;
    border-radius: 6px;
    margin-right:16px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 1px 1px 3px #c0c0c0;
    cursor: pointer;
}
.button_link:hover {
    background: #4080d0;
}

.title_panel {
}

.title_menu {
    background: #f0f0f0;
    border-radius:8px;
    padding:8px;
    padding-bottom:0px;
    padding-left:16px;
    box-shadow: 1px 1px 3px #c0c0c0;
}
.title_menu_item {
    display: inline-block;
    padding-bottom:4px;
    margin-left:30px;
}
.title_menu_item_selected {
    padding-bottom:5px;
    border-bottom: 4px solid #c00000;
}
.title_menu_item a {
    text-decoration: none !important;
    color: #000000 !important;
}
.release_item td {
    background: #f0f0f0;
    padding: 4px;
}

.topbar_button {
    display: inline-block;
    padding-bottom:4px;
    margin-left:30px;
}

.topbar_button a {
    color: #000000;
    font-weight: 300;
}
.topbar_button a:hover {
    color: #3060b0;
}

.abstract_div {
}
.w400 {
    font-weight: 400;
}

a {
    font-weight: 300;
    text-decoration:none;
}
