.proj_bg_blue_gradient {
    background: #204080;
    background: -webkit-linear-gradient(#204080, #102040);
    background: -o-linear-gradient(#204080, #102040);
    background: -moz-linear-gradient(#204080, #102040);
    background: linear-gradient(#204080, #102040);
    color: #ffffff;
}

.proj_topbar {
    position:fixed;
    width: 100%;
    z-index: 800;
    background: rgba(255, 255, 255, 0.90);
    background: -webkit-linear-gradient(rgba(255, 255, 255, .98), rgba(255, 255, 255, 0.85));
    background: -o-linear-gradient(rgba(255, 255, 255, .98), rgba(255, 255, 255, 0.85));
    background: -moz-linear-gradient(rgba(255, 255, 255, .98), rgba(255, 255, 255, 0.85));
    background: linear-gradient(rgba(255, 255, 255, .98), rgba(255, 255, 255, 0.85));
    color: #ffffff;
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
    padding-top: 10px;
    padding-bottom: 10px;
}
.proj_topbar a {
    color: #000000;
}
.proj_topbar a:hover {
    color: #3060b0;
}
.proj_topbar_inner {
    display: inline-block;
    width: 100%;
    max-width: 1040px;
}
.proj_topbar_list {
    display: inline;
}
.proj_topbar_menu_btn {
    display: none;
    width: 33%;
    text-align: left;
    vertical-align:top;
}
.proj_topbar_menu_btn img{
    margin-left: 16px;
    position: relative;
    top: 4px;
}
.proj_topbar_menu_mobile {
    display: none;
}
.proj_topbar_menu_mobile .proj_topbar_item{
    display: none;
}
.proj_topbar_item {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
    white-space: nowrap;
    max-width: 200px;
    padding-top: 6px;
}
.proj_topbar_login {
    float: right;
    text-align:right;
    padding-right:10px;
}
.proj_topbar_login a {
    display: inline-block;
    font-size: 16px;
    margin-top: 4px;
    font-weight: 400;
    padding: 4px;
    border-radius: 3px;
    border: 1px solid #3060b0;
    box-shadow: 1px 1px 2px #808080;
    color:#000000;
    background:#f0f4fb;
}
.proj_topbar_login a:hover {
    background:#ffffff;
    color:#3060b0;
}
.proj_topbar_logo {
    float:left;
    padding-left:10px;
    font-family: "ABeeZee";
    font-size: 28px;
    color: #3060b0;
}
.proj_topbar_spacer {
    height: 58px;
}


.pretty_table{
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    background: #d8d8d8;
    margin: 20px;
}

.pretty_table td {
    text-align: left;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    background: #d8d8d8;
    padding: 12px;
}

.pretty_table_sm{
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    background: #d8d8d8;
    margin: 12px;
}

.pretty_table_sm td {
    text-align: left;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    background: #dadada;
    padding: 8px;
    font-size: 16px;
}

.pretty_table_head td {
    background: #b0c0f0;
}

pre.sh_sourceCode {
  background-color: #f0f0f0;
  box-shadow: 1px 1px 3px #a0a0a0;
  color: black;
  font-style: normal;
  font-weight: normal;
  padding-right: 16px;
}

.banner {
    border-top: 1px solid #d0d0d0;
    padding-top: 40px;
    padding-bottom: 40px;
}

.banner-thin {
    border-top: 1px solid #d0d0d0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.big-code-example {
    width: 650px;
    font-family: monospace;
    background: #000000;
    font-weight: 800;
    color: #30ff30;
    display: inline-block;
    padding: 15px;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 30px;
    text-align:left;
    white-space: pre;
    letter-spacing: 0px;
}

.big-http-caption {
    display: inline-block;
    text-align: left;
    font-size: 16px;
    width: 650px;
    letter-spacing: 0px;
}
.big-http-request-example {
    width: 650px;
    letter-spacing: 0px;
    font-family: monospace;
    background: #d0d8fb;
    font-weight: 400;
    color: #000000;
    display: inline-block;
    border: 1px solid #d0d0d0;
    padding: 15px;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 30px;
    text-align:left;
    white-space: pre;
}

.bg-metal {
    background: url(http://image.shutterstock.com/display_pic_with_logo/573547/207269542/stock-photo-white-metal-fabric-texture-for-background-207269542.jpg) ;
        fixed no-repeat center center; 
    background-size: cover;
}

.bg-blue-grunge-boundary {
    height:4px; 
}

.bg-blue-grunge-boundary-lower {
    height:4px; 
    background: rgba(255, 255, 255, 0.6);
}

.hr-gradient{
    border-top: 1px solid #d0d0d0;
    height: 20px;
    background: -webkit-linear-gradient(#d0d0d0, #ffffff);
    background: -o-linear-gradient(#d0d0d0, #ffffff);
    background: -moz-linear-gradient(#d0d0d0, #ffffff);
    background: linear-gradient(#d0d0d0, #ffffff);
}

.bg-datacenter {
    color: #ffffff; 
    background: url(images/shutterstock_105784187_datacenter_1920x1344.jpg) no-repeat center 80%; 
    background-size: cover;
}
.bg-datacenter-boundary {
    height:4px; 
    background: rgba(255, 255, 255, 0.5);
}

.bg-white {
}

.bg-work {
background: url(images/shutterstock_156257867_work_team_1920x1200.jpg) no-repeat center 10%; 
    background-size: cover;
}

.bg-darkblue {
    background: #3060b0;
    color: #ffffff;
    font-weight: 400;
}

.bg-darkblue a {
    background: #3060b0;
    color: #ffffff;
    font-weight: 400;
}

.bg-darkgray {
    background: #404040;
    color: #ffffff;
}

.bg-darkgray a {
    color: #ffffff;
}

.bg-darkgray a:hover {
    color: #a0d0ff;
}

.bg-lightgray {
    background: #404040;
    color: #ffffff;
}

.book {
    padding: 20px;
    background: #f4f4f0;
    letter-spacing: 1.0px;
}

.book h4 {
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #3060a0;
}

.book h5 {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 15px;
    color: #c06030;
}
.book-content {
    background: white;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
    width: 800px;
    border-radius: 8px;
    border: 1px solid #d0d0d0;
}

.bottom_aligner {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
    width: 0px;
}

.canopy-diagram {
    padding-top: 40px;
    padding-bottom: 20px;
}

.caption {
    font-size: 15px;
    font-weight: 400;
    color: #606060;
}

.centered {
    text-align: center;
}

.code
{
    font-family: monospace;
    background-color: #f0f0f0;
    box-shadow: 1px 1px 3px #a0a0a0;
    color: black;
    padding: 8px;
    padding-right: 16px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:left;
    white-space: pre;
    overflow: auto;
    font-size: 14px;
}

.code-output
{
    font-family: monospace;
    background: #dbdbdb;
    color: #203050;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:left;
    white-space: pre;
    letter-spacing: 0px;
    max-height: 100px;
    overflow: auto;
}

.disqussion {
    margin-top: 30px;
    border-top: 1px solid #a0a0a0;
    padding-top: 30px;
}

.feature-cell-left {
    padding-right:30px; 
    text-align:left;
}

.feature-cell-middle {
    padding-left:15px; 
    padding-right:15px; 
    text-align:left;
}

.feature-cell-right {
    padding-left:30px; 
    text-align:left;
}

.features-table {
    text-align: center;
}

.feature-title {
    font-weight: 400;
    font-size: 24px;
}

.feature-text {
    text-align: justify;
    font-size: 16px;
}

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    font-size: 16px;
}
.footer-inner {
    display: inline-block;
}
.footer-item {
    text-align: right;
    padding-right: 20px;
    font-weight: 400;
}

.frontpage-logo-spacing {
}

.frontpage-subtext {
    font-size:40px; 
    margin-top:55px;
}

.frontpage-sub-subtext {
    font-size:20px; 
    margin-top:25px;
}

.hosting-title {
    font-size: 60px;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hosting-boxes-table {
    text-align: center;
}

.hosting-boxes-table td{
    text-align: center;
    border-right: 1px solid #d0d0d0; 
}

.hosting-boxes-cell {
    padding:24px; 
    text-align: left;
    vertical-align: top;
}

.justified-block-1 {
    display: inline-block;
    text-align: justify;
    width: 680px;
    font-size: 22px;
    margin-top: 30px;
}

.logo {
    font-family: "ABeeZee";
    font-size: 50pt;
    color: #3060b0;
}

.logo-in-text {
    font-family: "ABeeZee";
    color: #3060a0;
}

.toc {
    font-size: 15px;
    padding-top: 60px;
    padding-right: 20px;
    white-space: nowrap;
}
.toc-chapter {
    font-size: 23px;
}
.toc-section {
    padding-left:20px;
}
.toc-selected, .toc-selected a {
    font-weight: 400;
    color: black;
}
