a, a.visited
{
    color: #204080;
    text-decoration: none;
}

a:hover
{
    color: #50a0ff
}

code
{
    display: inline-block;
    font-family: monospace;
    color: #203050;
    font-size: 14px;
    letter-spacing: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Source Sans Pro", Helvetica,arial,freesans,clean,sans-serif;
    line-height: 1.33;
    font-weight: 300;
    letter-spacing: 0.0px;
    font-size: 20px;
    color: #000000;
}

pre.sh_sourceCode {
  background-color: #f0f0f0;
  color: black;
  font-style: normal;
  font-weight: normal;
}

.banner {
    border-top: 1px solid #d0d0d0;
    padding-top: 40px;
    padding-bottom: 40px;
}

.banner-thin {
    border-top: 1px solid #d0d0d0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.big-code-example {
    width: 650px;
    font-family: monospace;
    background: #000000;
    font-weight: 800;
    color: #30ff30;
    display: inline-block;
    padding: 15px;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 30px;
    text-align:left;
    white-space: pre;
    letter-spacing: 0px;
}

.big-http-caption {
    display: inline-block;
    text-align: left;
    font-size: 16px;
    width: 650px;
    letter-spacing: 0px;
}
.big-http-request-example {
    width: 650px;
    letter-spacing: 0px;
    font-family: monospace;
    background: #d0d8fb;
    font-weight: 400;
    color: #000000;
    display: inline-block;
    border: 1px solid #d0d0d0;
    padding: 15px;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 30px;
    text-align:left;
    white-space: pre;
}

.bg-metal {
    background: 
        url(http://image.shutterstock.com/display_pic_with_logo/573547/207269542/stock-photo-white-metal-fabric-texture-for-background-207269542.jpg) 
        fixed no-repeat center center; 
    background-size: cover;
}


.bg-blue-grunge {
    background: 
        url(images/shutterstock_132396575_bottom_1920x946.jpg) 
        fixed no-repeat center top; 
    background-size: cover;
}

.bg-blue-grunge-boundary {
    height:4px; 
    background: rgba(128, 128, 128, 0.2);
}

.bg-blue-grunge-boundary-lower {
    height:4px; 
    background: rgba(255, 255, 255, 0.6);
}

.bg-white {
}

.bg-darkblue {
    background: #3060b0;
    color: #ffffff;
}

.bg-darkgray {
    background: #404040;
    color: #ffffff;
}

.bg-darkgray a {
    color: #ffffff;
}

.bg-darkgray a:hover {
    color: #a0d0ff;
}

.bg-lightgray {
    background: #d0d0d0;
}

.book {
    padding: 20px;
    background: #d8d8d8;
    letter-spacing: 1.0px;
}

.book h4 {
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #3060a0;
}

.book h5 {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 15px;
    color: #c06030;
}
.book-content {
    background: white;
    font-size: 17px;
    padding: 16px;
    width: 800px;
    border-radius: 8px;
}

.canopy-diagram {
    padding-top: 40px;
    padding-bottom: 20px;
}

.caption {
    font-size: 15px;
    font-weight: 400;
    color: #606060;
}

.centered {
    text-align: center;
}

.code
{
    font-family: monospace;
    background: #dbdbdb;
    color: #203050;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:left;
    white-space: pre;
    letter-spacing: 0px;
}

.code-output
{
    font-family: monospace;
    background: #dbdbdb;
    color: #203050;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:left;
    white-space: pre;
    letter-spacing: 0px;
    max-height: 100px;
    overflow: auto;
}

.disqussion {
    margin-top: 30px;
    border-top: 1px solid #a0a0a0;
    padding-top: 30px;
}

.feature-cell-left {
    display:inline-block; 
    padding-left:80px; 
    padding-right:00px; 
    text-align:left;
}

.feature-cell-middle {
    display:inline-block; 
    padding-left:40px; 
    padding-right:40px; 
    text-align:left;
}

.feature-cell-right {
    display:inline-block; 
    padding-left:00px; 
    padding-right:80px; 
    text-align:left;
}

.features-table {
    margin-top: 40px;
    text-align: center;
}

.feature-title {
    font-weight: 400;
    font-size: 24px;
}

.feature-text {
    text-align: justify;
    font-size: 16px;
}

.footer {
    padding: 30px;
    margin-top: 30px;
    font-size: 16px;
}
.footer-inner {
    display: inline-block;
}
.footer-item {
    text-align: right;
    padding-right: 20px;
    padding-left: 30px;
    font-weight: 400;
}

.frontpage-cloudplug-img {
    margin-top:55px; 
    filter: alpha(opacity=80); 
    opacity:0.8;
    width: 240px;
    margin-bottom:55px;
}

.frontpage-logo-spacing {
    margin-top: 60px;
}

.frontpage-subtext {
    font-size:40px; 
    margin-top:55px;
}

.frontpage-sub-subtext {
    font-size:20px; 
    margin-top:25px;
}

.justified-block-1 {
    display: inline-block;
    text-align: justify;
    width: 600px;
    font-size: 22px;
    margin-top: 30px;
}

.logo {
    font-family: "ABeeZee";
    font-size: 50pt;
    color: #3060a0;
}

.logo-in-text {
    font-family: "ABeeZee";
    color: #3060a0;
}

.main-outer {
    min-width: 800px;
}

.topbar {
    padding-top: 6px; 
    padding-bottom: 3px; 
    background: rgba(255, 255, 255, 1.0);
    text-align: center;
}

.toc {
    font-size: 15px;
    padding-top: 130px;
    padding-right: 40px;
}
.toc-chapter {
    font-size: 23px;
}
.toc-section {
    padding-left:20px;
}

.topbar a {
    color: #000000;
}
.topbar a:hover {
    color: #3060b0;
}

.topbar-button {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
}

.topbar-inner {
    display: inline-block;
    min-width: 800px;
    width: 100%;
}

.topbar-left-part {
    display: inline-block;
}

.topbar-middle-part {
    display: inline-block;
    padding-left: 110px;
}

.topbar-right-part {
    float: right;
}

.topbar-login {
    display: inline-block;
    position: relative;
    top: -2px;
    font-size: 16px;
    margin-right: 40px;
    font-weight: 800;
    background: #4080d0;
    color: #ffffff;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid #3060b0;
    box-shadow: 1px 1px 2px #808080;
}

.w200 {
    font-weight: 200;
}
.w300 {
    font-weight: 300;
}
.w400 {
    font-weight: 400;
}
.w800 {
    font-weight: 800;
}

.xl {
    font-size: 50px;
}
.l {
    font-size: 40px;
}

h1 {
    font-size: 50px;
    font-weight: 300;
}

h2 {
    font-size: 40px;
    font-weight: 300;
}

h3 {
    font-size: 30px;
    font-weight: 300;
}
