body {
    margin: 0px;
    padding: 0px;
    font-family: "Source Sans Pro", Helvetica,arial,freesans,clean,sans-serif;
    line-height: 1.5;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
}

.code {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    background: #f0f0f0;
    padding: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    color: #153060;
}

.code_template {
    display: inline-block;
    border: 1px dashed #008000;
    background: #ffff80;
    margin-bottom: 3px;
    padding: 2px;
}

.icode {
    display: inline-block;
    font-family: monospace;
    font-size: 14px;
    background: #f0f0f0;
    color: #153060;
    padding: 4px;
}

td {
    font-size: 20px;
    font-weight: 300;
}
.main-section td
{
    line-height: 1.5;
}
.top-bar td {
    font-weight: 400;
    font-size: 22px;
}

.center_channel {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    font-family: "ABeeZee";
    font-size: 35px;
    color: #3060a0;
    border-radius: 32px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left:-6px;
}
.top-bar {
    border-bottom: 1px solid #304050;
    position: fixed;
    width: 100%;
    height: 56px;
    z-index: 100;
    background-color: #ffffff;
}
.main-section {
    width: 100%;
    position: absolute;
    top: 56px;
}
.darkest {
    color: #000000;
}
.big {
    font-size: 34px;
}
.xxl {
    font-size: 50px;
}
.ml {
    font-size: 26px;
}
.s {
    font-size: 15px;
}
.thin {
    font-weight: 200;
}
h2 {
    font-weight: 200;
    font-size: 34px;
    margin-bottom: 0px;
}
.logo-in-text {
    font-family: "ABeeZee";
    color: #3060a0;
}
.logo-in-text-light {
    font-family: "ABeeZee";
    color: #a0b0f8;
}
.gray-section
{
    background: #283860;
    color: #ffffff;
}

.shutterstock-network
{
    background-image:url('http://image.shutterstock.com/display_pic_with_logo/1206974/130694135/stock-vector-molecule-and-communication-background-vector-illustration-graphic-design-useful-for-your-design-130694135.jpg');
    background-repeat: no-repeat;
    background-position: 108px -96px;;
    background-size: 350px 350px;
}
.tbl-box
{
    padding: 16px;
    width: 270px;
    border-right: 2px solid #d0d0c0;
}
.hvy
{
    font-weight: 600;
}
.justify
{
    text-align: justify;
}
a, a.visited
{
    color: #3060a0;
    font-weight: 400;
}
a:hover
{
    color: #50a0ff
}
.top-bar a
{
    text-decoration: none;
}
a.logo:hover
{
    color: #3060a0;
}
.warning_bar
{
    background: #ffff60;
    padding: 16px;
    border-radius: 5px;
    color: #000000;
}
