.idx_main_banner {
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    white-space: nowrap;
}
.idx_main_banner_img {
    margin-top:20px; 
    margin-bottom:20px;
    display: inline-block;
    padding-right: 20px;
    padding-left: 40px;
    vertical-align: middle;
}
.idx_main_banner_img img{
    position: relative;
    top:15px;
    width: 240px;
    filter: alpha(opacity=80); 
    opacity:0.8;
}
.idx_main_banner_inner {
    display: inline-block;
}
.idx_main_banner_text {
    width: 440px;
    text-align: left;
    display: inline-block;
    padding-right: 40px;
    padding-left: 20px;
    vertical-align: middle;
    white-space: normal;
}
