body, td {
    font-family: sans-serif;
    vertical-align: top;
}

.main p, .main ul, .main ol {
    margin-left: 48px;
}

h1 {
    padding-left: 16px;
    color: #3060a0;
}

h2 {
    background: #204080;
    font-weight: bold;
    font-size: 16pt;
    padding: 4px;
    padding-left: 16px;
    color: #ffffff;
}
h2 a {
    color: #ffffff;
}

h3 {
    font-weight: bold;
    font-size: 16pt;
    padding-left: 16px;
    color: #3060a0;
}

h4 {
    padding-left: 16px;
    color: #3060a0;
}

h3 a {
    color: #3060a0;
    text-decoration: none;
}

a.nolink {
    color: #a03030;
}

.tabbed {
    margin-left: 32px;
}
.text {
    margin-left: 48px;
}

.paramtable {
    border-spacing: 0px;
    margin-left: 48px;
}

a, a.visited {
    color: #3060a0;
    text-decoration: none;
}

.paramtable td, .paramtable th {
    border-bottom: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    padding: 12px;
    font-family: monospace;
    background: #f0f0f0;
    font-size: 14px;
    text-align: left;
}
.icode {
    display: inline-block;
    font-family: monospace;
    font-size: 14px;
    background: #f0f0f0;
    color: #153060;
    padding: 4px;
}

.code {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    background: #f0f0f0;
    padding: 13pt;
    margin-left: 48px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    color: #153060;
    overflow: auto;
}

.code_template {
    display: inline-block;
    border: 1px dashed #008000;
    background: #ffff80;
    margin-bottom: 3px;
    padding: 2px;
}

.method_outer {
    margin-left: 48px;
}

.method_title {
    background: #282828;
    color: #ffffff;
    font-weight:bold;
    padding:16px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.method_returns {
    float:right;
}

.method_body {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 16px;
    border: 1px solid #b0b0b0;
}
.param_outer {
    margin-top:16px;
}

.param_title {
    background: #3060a0;
    color: #ffffff;
    padding:16px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.param_body {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid #b0b0b0;
}
.param_section {
    padding:16px;
    border-bottom: 1px solid #b0b0b0;
    background: #f0f0f0;
}
.param_last_section {
    padding:16px;
    background: #f0f0f0;
}
.param_name {
    font-weight: bold;
}
.method_class {
    color: #a0a0a0;
}
.param_code {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    background: #f0f0f0;
    padding: 13pt;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    color: #153060;
    overflow: auto;
}
.method_outer ul {
    margin-left: 0px;;
}

