body, td {
    font-family: sans-serif;
    vertical-align: top;
}

.main p, .main ul, .main ol {
    margin-left: 48px;
}

h1 {
    padding-left: 16px;
    color: #3060a0;
}

h2 {
    background: #204080;
    font-weight: bold;
    font-size: 16pt;
    padding: 4px;
    padding-left: 16px;
    color: #ffffff;
}
h2 a {
    color: #ffffff;
}

h3 {
    font-weight: bold;
    font-size: 16pt;
    padding-left: 16px;
    color: #3060a0;
}

h4 {
    padding-left: 16px;
    color: #3060a0;
}

h3 a {
    color: #3060a0;
    text-decoration: none;
}

.tabbed {
    margin-left: 32px;
}
.text {
    margin-left: 48px;
}

.paramtable {
    border-spacing: 0px;
    margin-left: 48px;
}

a, a.visited {
    color: #3060a0;
    text-decoration: none;
}

.paramtable td, .paramtable th {
    border-bottom: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    padding: 12px;
    font-family: monospace;
    background: #f0f0f0;
    font-size: 14px;
    text-align: left;
}
.code {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    background: #f0f0f0;
    padding: 13pt;
    margin-left: 48px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    color: #153060;
    overflow: auto;
}
.
