a {
    color: #3060b0;
}

body {
    line-height: 1.3333;
    font-family: sans-serif; 
    font-size: 15px;
}

.hammock-chapter-contents {
    padding-top: 1em;
}

.hammock-chapter-outer {
    max-width: 1004px;
    min-width: 700px;
    border-bottom: 2px solid #a0a0a0;
    padding-bottom: 6em;
}

.hammock-chapter-title {
    color: #3060b0;
    font-size: 28px;
    padding-top: 1em;
}

.hammock-code{
    white-space:pre;
    font-family: monospace;
    background: #f0f0f0;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 12px;
    overflow: auto;
}

.hammock-doc-header {
    text-align: center;
}

.hammock-doc-outer {
    margin-left: 300px;
    padding-top: 32px;
}

.hammock-icode{
    font-family: monospace;
    display: inline-block;
    background: #f0f0f0;
    padding: 4px;
    border-radius: 3px;
}

.hammock-interpret-error{
    color: #800000;
    font-size: 16px;
    font-weight: bold;
    background: #ffff00;
}

.hammock-section-contents {
    padding-top: 1em;
}

.hammock-section-outer {
    padding-bottom:2em;
    border-bottom: 1px solid #d0d0d0;
}

.hammock-section-title {
    color: #3060b0;
    font-size: 24px;
    padding-top: 1em;
}

.hammock-subsection-outer {
}

.hammock-subsection-contents {
    padding-top: 1em;
}

.hammock-subsection-title {
    color: #505050;
    font-size: 18px;
    font-weight: bold;
    padding-top: 1em;
}

.hammock-subsubsection-contents {
}

.hammock-subsubsection-outer {
}

.hammock-subsubsection-title {
    color: #505050;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 1em;
    padding-bottom: 1em;
}

table.hammock-tbl {
    border-top: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    width: 100%;
    line-height: 1.3333;
    font-size: 15px;
    font-family: monospace; 
    margin-top: 1em;
    margin-bottom: 1em;
}

.hammock-tbl tr:nth-child(even) {
    background: #f0f0f0;
}
.hammock-tbl tr:nth-child(odd) {
    background: #f8f8f8;
}
.hammock-tbl td {
    border-bottom: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    padding: 12px;
    vertical-align: top;
    text-align:left;
}


td.hammock-tbl-header{
    background: #d0d0f0;
    font-weight: bold;
}

.hammock-toc-chapter {
    margin-top: 16px;
    font-size:18px;
    border-radius: 3px;
}

.hammock-toc-chapter a, .hammock-toc-section a {
    color: #3060b0;
    text-decoration: none;
}

.hammock-toc-outer {
    position: fixed;
    width: 250;
    overflow: auto;
    top: 0px;
    left: 0px;
    bottom: 0px;
    font-size: 14px;
    background: #f8f8f8;
    border-right: 1px solid #a0a0a0;
    padding: 16px;
    white-space: nowrap;
}

.hammock-toc-section {
    padding-left :2em;
    border-radius: 3px;
}

.hammock-toc-subsection {
}

.hammock-toc-title {
    font-size: 28px;
}

